<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós - Canil Von Haus Erica</title>
    <link rel="icon" type="image/png" href="/assets/img/IconeLogoCanil.png"/>
    <link rel="stylesheet" type="text/css" href="../styles/header.css" />
    <link rel="stylesheet" type="text/css" href="../styles/footer.css" />
    <link rel="stylesheet" type="text/css" href="../styles/main.css" />

</head>
<body>
    <!-- CABEÇALHO --> 
    <header>
        <div class="cabecalho">
            <ul class="cabecalho__items">
                <li><a href="/index.html"><img src="../img/LogoHeader.png" alt="Logo Canil"></a></li>
                <li><a href="/index.html">INÍCIO</a></li>
                <li><a href="about.html">SOBRE NÓS</a></li>
                <li><a href="matrizes.html">MATRIZES / REPRODUTORES</a></li>
                <li><a href="disponiveis.html">DISPONÍVEIS</a></li>
                <li><a href="contatos.html">CONTATO</a></li>
            </ul>
        </div>
        <div class="container">
            <label for="menu">
                <img src="/assets/img/menu_hamburguer.png" alt="menu hamburguer" class="container__imagem">
            </label>
            <input type="checkbox" id="menu" class="container__botao">
            <h1 class="container__titulo">CANIL VON HAUS ÉRICA</h1>
            <img class="logo__mobile" src="/assets/img/IconeLogoCanil.png" alt="Logo Canil">
            <ul class="lista-menu">
                <li class="lista-menu__item"><a href="/index.html">INÍCIO</a></li>
                <li class="lista-menu__item"><a href="/assets/views/about.html">SOBRE NÓS</a></li>
                <li class="lista-menu__item"><a href="/assets/views/matrizes.html">MATRIZES / REPRODUTORES</a></li>
                <li class="lista-menu__item"><a href="/assets/views/disponiveis.html">DISPONÍVEIS</a></li>
                <li class="lista-menu__item"><a href="/assets/views/contatos.html">CONTATO</a></li>
            </ul>
        </div>
    </header>
    <main class="about">    
        <div class="about__historia about__mobile">
            <h2 class="about__historia__titulo about__mobile__titulo">
                NOSSA HISTÓRIA
                <hr class="sublinhado">
            </h2>
            <p class="about__historia__texto about__mobile__texto">
                Estamos no ramo desde XXXX, sempre trabalhando com alegria, emoção e paixão!
                <br>Para entregar para nossos clientes o melhor serviço
                <br>Afinal, Pastor Alemão é amizade e proteção.
            </p>
            <img src="/assets/img/historia.jpeg" alt="Desfile em Blumenau">
        </div>
        <hr class="linha">
        <div class="about__sobre about__mobile">
            <h2 class="about__sobre__titulo about__mobile__titulo">
                SOBRE NÓS
                <hr class="sublinhado">
            </h2>
            <p class="about__sobre__texto about__mobile__texto">
                Estamos situados atualmente em Nova Trento, Santa Catarina.
                <br>inserçã de texto
                <br>finaçização do paragrafo.
            </p>
            <img src="/assets/img/mira.jpeg" alt="Martiarca do Canil">
        </div>
        <hr class="linha">
        <div class="about__premios about__mobile">
            <h2 class="about__premios__titulo about__mobile__titulo">
                PREMIAÇÕES
                <hr class="sublinhado">
            </h2>
            <p class="about__premios__texto about__mobile__texto">
                Aqui inserir premiações!
                <br>inserçã de texto
                <br>finaçização do paragrafo.
            </p>
            <img src="/assets/img/exposicao.jpeg" alt="Exposição de Cães">
        </div>
        <hr class="linha">
        <div class="about__formacao about__mobile">
            <h2 class="about__formacao__titulo about__mobile__titulo">
                    CURSOS E FORMAÇÕES
                    <hr class="sublinhado">
            </h2>
            <p class="about__formacao__texto about__mobile__texto">
                Aqui inserir os cursos e formações!
                <br>inserçã de texto
                <br>finaçização do paragrafo.
            </p>
            <img src="/assets/img/foramcao.jpeg" alt="Formação com a polícia">
        </div>
    </main>
    <footer class="rodape">
        <img class="rodape__logo" src="../img/LogoHeader.png" alt="Logo do Canil">
        <div class="rodape__texto">
            <p>Canil especializado em vendas de Pastor Almeão e Golden Retriever</p>
            <p>Nova Trento / Santa Catarina</p>
            <p>Entregas para todo o Brasil!</p>
        </div>
        <div>
            <ul class="rodape__contatos">
                <li><a href="https://wa.me/5547999144707"><img src="/assets/img/whatsIconWhite.png" alt="Icone WhatsApp"></a></li>
                <li><a href="https://www.facebook.com/profile.php?id=100046358114663"><img src="/assets/img/faceIconWhite.png" alt="Icone Facebook"></a></li>
                <li><a href="https://www.instagram.com/canilvonhaus_erica/"><img src="/assets/img/instaIconWhite.png" alt="Icone Facebook"></a></li>
            </ul>
        </div>
        <p class="rodape__texto">
            Entre em contato!
        </p>
        <p class="rodape__texto__dev">
            Desenvolvido por Arthur Felipe Carminati
        </p>
    </footer>
</body>
</html>