<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós - Canil Von Haus Erica</title>
    <link rel="icon" type="image/png" href="/assets/img/IconeLogoCanil.png"/>
    <link rel="stylesheet" type="text/css" href="../styles/header.css" />
    <link rel="stylesheet" type="text/css" href="../styles/footer.css" />
    <link rel="stylesheet" type="text/css" href="../styles/main.css" />

</head>
<body>
    <!-- CABEÇALHO --> 
    <header>
        <div class="cabecalho">
            <ul class="cabecalho__items">
                <li><a href="/index.html"><img src="../img/LogoHeader.png" alt="Logo Canil"></a></li>
                <li><a href="/index.html">INÍCIO</a></li>
                <li><a href="about.html">SOBRE NÓS</a></li>
                <li><a href="matrizes.html">MATRIZES / REPRODUTORES</a></li>
                <li><a href="disponiveis.html">DISPONÍVEIS</a></li>
                <li><a href="contatos.html">CONTATO</a></li>
            </ul>
        </div>
        <div class="container">
            <label for="menu">
                <img src="/assets/img/menu_hamburguer.png" alt="menu hamburguer" class="container__imagem">
            </label>
            <input type="checkbox" id="menu" class="container__botao">
            <h1 class="container__titulo">CANIL VON HAUS ÉRICA</h1>
            <img class="logo__mobile" src="/assets/img/IconeLogoCanil.png" alt="Logo Canil">
            <ul class="lista-menu">
                <li class="lista-menu__item"><a href="/index.html">INÍCIO</a></li>
                <li class="lista-menu__item"><a href="/assets/views/about.html">SOBRE NÓS</a></li>
                <li class="lista-menu__item"><a href="/assets/views/matrizes.html">MATRIZES / REPRODUTORES</a></li>
                <li class="lista-menu__item"><a href="/assets/views/disponiveis.html">DISPONÍVEIS</a></li>
                <li class="lista-menu__item"><a href="/assets/views/contatos.html">CONTATO</a></li>
            </ul>
        </div>
    </header>
    <main class="about">    
        <div class="about__historia about__mobile">
            <h2 class="about__historia__titulo about__mobile__titulo">
                NOSSA HISTÓRIA
                <hr class="sublinhado">
            </h2>
            <p class="about__historia__texto about__mobile__texto">
                Nossa história teve início em Blumenau no ano de 1986, e ao longo dos anos nos tornamos referência em adestramento de cães e criação da raça pastor alemão. Com mais de 30 anos de experiência no adestramento e 20 anos na criação e venda desses animais, nossa equipe é formada por profissionais altamente qualificados e apaixonados por cães.
                <br><br>
                Nosso canil é licenciado e segue todas as normas e leis relacionadas à criação e venda de animais, e estamos sempre em busca de novas técnicas e tecnologias para aprimorar ainda mais nosso trabalho.
            </p>
            <img src="/assets/img/historia.jpeg" alt="Desfile em Blumenau">
        </div>
        <hr class="linha">
        <div class="about__sobre about__mobile">
            <h2 class="about__sobre__titulo about__mobile__titulo">
                SOBRE NÓS
                <hr class="sublinhado">
            </h2>
            <p class="about__sobre__texto about__mobile__texto">
                Estamos sediados na charmosa cidade de Nova Trento, em Santa Catarina, onde trabalhamos com muito amor e dedicação na criação e venda de cães de raça, com pedigree, incluindo o pastor alemão e o golden retriever. Além disso, oferecemos também serviços de adestramento para todas as raças de cães, buscando sempre entregar o melhor para nossos clientes.
                <br><br>
                Em nosso canil, seguimos rigorosos critérios na seleção dos reprodutores, visando sempre aprimorar a qualidade genética dos nossos filhotes. Nossos cães são criados em um ambiente seguro, confortável e higiênico, com alimentação balanceada e acompanhamento veterinário constante, garantindo sua saúde e bem-estar.
            </p>
            <img src="/assets/img/mira.jpeg" alt="Martiarca do Canil">
        </div>
        <hr class="linha">
        <div class="about__premios about__mobile">
            <h2 class="about__premios__titulo about__mobile__titulo">
                PREMIAÇÕES
                <hr class="sublinhado">
            </h2>
            <p class="about__premios__texto about__mobile__texto">
                Temos orgulho de compartilhar que já participamos de diversas exposições caninas pelo Brasil, onde nossos cães tiveram um excelente desempenho, conquistando posições de destaque. Essas exposições nos ajudam a selecionar os melhores exemplares para a criação, garantindo que nossos filhotes tenham as melhores características da raça.
            </p>
            <img src="/assets/img/exposicao.jpeg" alt="Exposição de Cães">
        </div>
        <hr class="linha">
        <div class="about__formacao about__mobile">
            <h2 class="about__formacao__titulo about__mobile__titulo">
                    CURSOS E FORMAÇÕES
                    <hr class="sublinhado">
            </h2>
            <p class="about__formacao__texto about__mobile__texto">
                Ao longo de nossa trajetória, buscamos aprimorar nossos conhecimentos e técnicas constantemente. Para isso, já participamos de diversos cursos e formações, incluindo treinamentos com renomados profissionais do adestramento, tanto nacionais quanto internacionais, como: 
            </p>
            <ul class="about__formacao__lista about__mobile__lista">
                <li>Ivan Balabanov (EUA)</li>
                <li>Nino Drowaert (EUA)</li>
                <li>Bart Bellon (Bélgica) </li>
                <li>Herve Mavuanga (Francês) </li>
                <li>Douglas W. Roller (EUA)</li>
                <li>Jürgen Schwendinger (Áustria)</li>
            </ul>
            <img src="/assets/img/foramcao.jpeg" alt="Formação com a polícia">
        </div>
        <div class="certificados">
            <ul class="certificados__lista">
                <li><img src="/assets/img/certificado1.jpeg" alt="certidicado"></li>
                <li><img src="/assets/img/certificado2.jpeg" alt="certidicado"></li>
                <li><img src="/assets/img/certificado3.jpeg" alt="certidicado"></li>
                <li><img src="/assets/img/certificado4.jpeg" alt="certidicado"></li>
                <li><img src="/assets/img/certificado5.jpeg" alt="certidicado"></li>
                <li><img src="/assets/img/certificado6.jpeg" alt="certidicado"></li>
                <li><img src="/assets/img/certificado7.jpeg" alt="certidicado"></li>
                <li><img src="/assets/img/certificado8.jpeg" alt="certidicado"></li>
            </ul>
        </div>
    </main>
    <footer class="rodape">
        <img class="rodape__logo" src="../img/LogoHeader.png" alt="Logo do Canil">
        <div class="rodape__texto">
            <p>Canil especializado em vendas de Pastor Almeão e Golden Retriever</p>
            <br>
            <p>Nova Trento / Santa Catarina</p>
            <p>Entregas para todo o Brasil!</p>
        </div>
        <div>
            <ul class="rodape__contatos">
                <li><a href="https://wa.me/5547999144707"><img src="/assets/img/whatsIconWhite.png" alt="Icone WhatsApp"></a></li>
                <li><a href="https://www.facebook.com/profile.php?id=100046358114663"><img src="/assets/img/faceIconWhite.png" alt="Icone Facebook"></a></li>
                <li><a href="https://www.instagram.com/canilvonhaus_erica/"><img src="/assets/img/instaIconWhite.png" alt="Icone Facebook"></a></li>
            </ul>
        </div>
        <p class="rodape__texto">
            Entre em contato!
        </p>
        <p class="rodape__texto__dev">
            Desenvolvido por Arthur Felipe Carminati
        </p>
    </footer>
</body>
</html>