<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós - Canil Von Haus Erica</title>
    <link rel="icon" type="image/png" href="/assets/img/IconeLogoCanil.png"/>
    <link rel="stylesheet" type="text/css" href="../styles/header.css" />
    <link rel="stylesheet" type="text/css" href="../styles/footer.css" />
    <link rel="stylesheet" type="text/css" href="../styles/main.css" />

</head>
<body>
    <!-- CABEÇALHO --> 
    <header>
        <div class="cabecalho">
            <ul class="cabecalho__items">
                <li><a href="/index.html"><img src="../img/LogoHeader.png" alt="Logo Canil"></a></li>
                <li><a href="/index.html">INÍCIO</a></li>
                <li><a href="about.html">SOBRE NÓS</a></li>
                <li><a href="matrizes.html">MATRIZES / REPRODUTORES</a></li>
                <li><a href="disponiveis.html">DISPONÍVEIS</a></li>
                <li><a href="adestramento.html">ADESTRAMENTO</a></li>
                <li><a href="contatos.html">CONTATO</a></li>
            </ul>
        </div>
        <div class="container">
            <label for="menu">
                <img src="/assets/img/menu_hamburguer.png" alt="menu hamburguer" class="container__imagem">
            </label>
            <input type="checkbox" id="menu" class="container__botao">
            <h1 class="container__titulo">CANIL VON HAUS ÉRICA</h1>
            <img class="logo__mobile" src="/assets/img/IconeLogoCanil.png" alt="Logo Canil">
            <ul class="lista-menu">
                <li class="lista-menu__item"><a href="/index.html">INÍCIO</a></li>
                <li class="lista-menu__item"><a href="/assets/views/about.html">SOBRE NÓS</a></li>
                <li class="lista-menu__item"><a href="/assets/views/matrizes.html">MATRIZES / REPRODUTORES</a></li>
                <li class="lista-menu__item"><a href="/assets/views/disponiveis.html">DISPONÍVEIS</a></li>
                <li class="lista-menu__item"><a href="/assets/views/adestramento.html">ADESTRAMENTO</a></li>
                <li class="lista-menu__item"><a href="/assets/views/contatos.html">CONTATO</a></li>
            </ul>
        </div>
    </header>
    <main class="adestramento">    
        <h2 class="adestramento__titulo">
            ADESTRAMENTO
        </h2>
        <p class="adestramento__corpo">
            O Canil Von Haus Érica é um renomado centro de adestramento canino, com mais de 30 anos de experiência no mercado. Com uma equipe especializada e métodos baseados no reforço positivo, o canil oferece treinamento personalizado para cães de diferentes raças, desenvolvendo habilidades como obediência, socialização e proteção. <br><br>Comprovado por um histórico de sucesso, o Canil Von Haus Érica é a escolha ideal para aqueles que buscam um adestramento de qualidade para seus companheiros de quatro patas.
        </p>
        <div class="adestramento__video" >
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DIPFvEvpH0Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </main>
    <footer class="rodape">
        <img class="rodape__logo" src="../img/LogoHeader.png" alt="Logo do Canil">
        <div class="rodape__texto">
            <p>Canil especializado em vendas de Pastor Almeão e Golden Retriever</p>
            <br>
            <p>Nova Trento / Santa Catarina</p>
            <p>Entregas para todo o Brasil!</p>
        </div>
        <div>
            <ul class="rodape__contatos">
                <li><a href="https://wa.me/5547999144707"><img src="/assets/img/whatsIconWhite.png" alt="Icone WhatsApp"></a></li>
                <li><a href="https://www.facebook.com/profile.php?id=100046358114663"><img src="/assets/img/faceIconWhite.png" alt="Icone Facebook"></a></li>
                <li><a href="https://www.instagram.com/canilvonhaus_erica/"><img src="/assets/img/instaIconWhite.png" alt="Icone Facebook"></a></li>
            </ul>
        </div>
        <p class="rodape__texto">
            Entre em contato!
        </p>
        <p class="rodape__texto__dev">
            Desenvolvido por Arthur Felipe Carminati
        </p>
    </footer>
</body>
</html>