<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos - Canil Von Haus Erica</title>
    <link rel="icon" type="image/png" href="/assets/img/IconeLogoCanil.png"/>
    <link rel="stylesheet" type="text/css" href="../styles/header.css" />
    <link rel="stylesheet" type="text/css" href="../styles/footer.css" />
    <link rel="stylesheet" type="text/css" href="../styles/main.css" />

</head>
<body>
    <!-- CABEÇALHO --> 
    <header>
        <div class="cabecalho">
            <ul class="cabecalho__items">
                <li><a href="/index.html"><img src="../img/LogoHeader.png" alt="Logo Canil"></a></li>
                <li><a href="/index.html">INÍCIO</a></li>
                <li><a href="about.html">SOBRE NÓS</a></li>
                <li><a href="matrizes.html">MATRIZES / REPRODUTORES</a></li>
                <li><a href="disponiveis.html">DISPONÍVEIS</a></li>
                <li><a href="contatos.html">CONTATO</a></li>
            </ul>
        </div>
        <div class="container">
            <label for="menu">
                <img src="/assets/img/menu_hamburguer.png" alt="menu hamburguer" class="container__imagem">
            </label>
            <input type="checkbox" id="menu" class="container__botao">
            <ul class="lista-menu">
                <li class="lista-menu__item"><a href="/index.html">INÍCIO</a></li>
                <li class="lista-menu__item"><a href="/assets/views/about.html">SOBRE NÓS</a></li>
                <li class="lista-menu__item"><a href="/assets/views/matrizes.html">MATRIZES / REPRODUTORES</a></li>
                <li class="lista-menu__item"><a href="/assets/views/disponiveis.html">DISPONÍVEIS</a></li>
                <li class="lista-menu__item"><a href="/assets/views/contatos.html">CONTATO</a></li>
            </ul>
        </div>
    </header>
    <main class="contatos">
        <h2 class="conteudo__contatos__titulo">
            Entre em contato!
        </h2> 
        <p class="conteudo__contatos__corpo">
            Confira nossas redes sociais e fique a vontade para tirar qualquer dúvida...
        </p>
        <div class="contatos__layout">
            <ul class="lista__contatos">
                <div class="lista__contatos__item">
                    <li><a href="https://wa.me/5547999144707"><img src="/assets/img/whatsIconGreen.png" alt="Icone WhatsApp"></a></li>
                    <p>WhatsApp</p>
                </div>
                <div class="lista__contatos__item">
                    <li><a href="https://www.facebook.com/profile.php?id=100046358114663"><img src="/assets/img/faceIconGreen.png" alt="Icone Facebook"></a></li>
                    <p>Facebook</p>
                </div>
                <div class="lista__contatos__item">
                    <li><a href="https://www.instagram.com/canilvonhaus_erica/"><img src="/assets/img/instaIconGreen.png" alt="Icone Facebook"></a></li>
                    <p>Instagram</p>
                </div>
            </ul>
            <iframe class="conteudo__contatos__mapa" src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d14192.947228508314!2d-48.906700731864916!3d-27.211713999999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjfCsDEyJzQyLjIiUyA0OMKwNTMnNTQuNiJX!5e0!3m2!1sen!2sbr!4v1681770689121!5m2!1sen!2sbr" width="90%" height="350px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </main>
    <footer class="rodape">
        <img class="rodape__logo" src="../img/LogoHeader.png" alt="Logo do Canil">
        <div class="rodape__texto">
            <p>Canil especializado em vendas de Pastor Almeão e Golden Retriever</p>
            <p>Nova Trento / Santa Catarina</p>
            <p>Entregas para todo o Brasil!</p>
        </div>
        <div>
            <ul class="rodape__contatos">
                <li><a href="https://wa.me/5547999144707"><img src="/assets/img/whatsIconWhite.png" alt="Icone WhatsApp"></a></li>
                <li><a href="https://www.facebook.com/profile.php?id=100046358114663"><img src="/assets/img/faceIconWhite.png" alt="Icone Facebook"></a></li>
                <li><a href="https://www.instagram.com/canilvonhaus_erica/"><img src="/assets/img/instaIconWhite.png" alt="Icone Facebook"></a></li>
            </ul>
        </div>
        <p class="rodape__texto">
            Entre em contato!
        </p>
        <p class="rodape__texto__dev">
            Desenvolvido por Arthur Felipe Carminati
        </p>
    </footer>
</body>
</html>