<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disponíveis - Canil Von Haus Erica</title>
    <link rel="icon" type="image/png" href="/assets/img/IconeLogoCanil.png"/>
    <link rel="stylesheet" type="text/css" href="../styles/header.css" />
    <link rel="stylesheet" type="text/css" href="../styles/footer.css" />
    <link rel="stylesheet" type="text/css" href="../styles/main.css" />

</head>
<body>
    <!-- CABEÇALHO --> 
    <header>
        <div class="cabecalho">
            <ul class="cabecalho__items">
                <li><a href="/index.html"><img src="../img/LogoHeader.png" alt="Logo Canil"></a></li>
                <li><a href="/index.html">INÍCIO</a></li>
                <li><a href="about.html">SOBRE NÓS</a></li>
                <li><a href="matrizes.html">MATRIZES / REPRODUTORES</a></li>
                <li><a href="disponiveis.html">DISPONÍVEIS</a></li>
                <li><a href="contatos.html">CONTATO</a></li>
            </ul>
        </div>
        <div class="container">
            <input type="checkbox" id="menu" class="container__botao">
            <label for="menu">
                <span class="cabecalho__menu-hamburguer container__imagem"></span>
            </label>
            <ul class="lista-menu">
                <li class="lista-menu__item"><a href="/index.html">INÍCIO</a></li>
                <li class="lista-menu__item"><a href="/assets/views/about.html">SOBRE NÓS</a></li>
                <li class="lista-menu__item"><a href="/assets/views/matrizes.html">MATRIZES / REPRODUTORES</a></li>
                <li class="lista-menu__item"><a href="/assets/views/disponiveis.html">DISPONÍVEIS</a></li>
                <li class="lista-menu__item"><a href="/assets/views/contatos.html">CONTATO</a></li>
            </ul>
            <img src="/assets/img/menu_hamburguer.png" alt="menu hamburguer" class="container__imagem">
        </div>
    </header>
    <main class="disponiveis">
        <h2 class="mostruario__titulo">
            FILHOTES DISPONÍVEIS
        </h2>
        <ul class="mostruario__lista">
            <li>
                <img src="" alt="">
                <p>Filhote 1</p>
            </li>
            <li>
                <img src="" alt="">
                <p>Filhote 2</p>
            </li>
            <li>
                <img src="" alt="">
                <p>Filhote 3</p>
            </li>
        </ul>
    </main>
    <footer class="rodape">
        <img class="rodape__logo" src="../img/LogoHeader.png" alt="Logo do Canil">
        <div class="rodape__texto">
            <p>Canil especializado em vendas de Pastor Almeão e Golden Retriever</p>
            <p>Nova Trento / Santa Catarina</p>
            <p>Entregas para todo o Brasil!</p>
        </div>
        <div>
            <ul class="rodape__contatos">
                <li><a href="https://wa.me/5547999144707"><img src="/assets/img/whatsIconWhite.png" alt="Icone WhatsApp"></a></li>
                <li><a href="https://www.facebook.com/profile.php?id=100046358114663"><img src="/assets/img/faceIconWhite.png" alt="Icone Facebook"></a></li>
                <li><a href="https://www.instagram.com/canilvonhaus_erica/"><img src="/assets/img/instaIconWhite.png" alt="Icone Facebook"></a></li>
            </ul>
        </div>
        <p class="rodape__texto">
            Entre em contato!
        </p>
        <p class="rodape__texto__dev">
            Desenvolvido por Arthur Felipe Carminati
        </p>
    </footer>
</body>
</html>