:root{
    --verde: #96a155;
    --verde-escuro: #315318;
    --preto: #404042;
    --branco: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

.cabecalho{
    background-color: var(--verde);
    padding: 10px 0;
}

.cabecalho a {
    color: var(--branco);
    transition: color 0.5s ease;
}

.cabecalho a:hover{
    color: var(--verde-escuro);
}

.cabecalho__items{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding-left: 3rem;
    padding-right: 5rem;
    font-weight: 600;
    
}
.cabecalho img{
    width: 100px;
    height: auto;
}

.container{
    display: none;
}

@media (max-width: 1050px) {
    .cabecalho{
        display: none;
    }

    .container__imagem{
        padding-left: 0.7rem;
        width: 28px;
    }

    .container__titulo{
        display: flex;
        font-size: 100%;
    }

    .logo__mobile{
        display: flex;
        width: 10%;
        margin-right: 0.5rem;
        padding-right: 0.15rem;
        background-color:var(--branco);
        border-radius: 6px;
    }

    .container{
        display: flex;
        background-color: var(--verde);
        padding: 10px 0;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;
    }

    .lista-menu{
        display: none;
        list-style: none;
        position: absolute;
        top: 100%;
    }

    .container__botao{
        display: none;
    }

    .container__botao:checked ~ .lista-menu{
        display: block;
    }

    .container__botao:checked ~ .container__imagem{
        background-color: var(--verde-escuro);
    }

    .lista-menu__item{
        padding: 1em;
        background-color: var(--verde);
    }

    .lista-menu__item a {
        color: var(--branco);
        font-weight: 600;
    }
}